<a href="https://colab.research.google.com/github/moreatharvaa/Netflix-Recommendation-System/blob/main/Netflix_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Upload the dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Reading dataset

In [ ]:
import pandas as pd

movies = pd.read_csv('/content/drive/MyDrive/movies.csv')
movies.head(1000)

,title,original_title,tagline,overview,genres,cast,director,keywords,original_language,popularity,...,production_countries,release_date,revenue,runtime,spoken_languages,status,budget,vote_average,vote_count,homepage
0,Avatar,Avatar,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...","['Action', 'Adventure', 'Fantasy', 'Science Fi...","['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",James Cameron,"['culture clash', 'future', 'space war', 'spac...",en,150.437577,...,"['United States of America', 'United Kingdom']",2009-12-10,2787965087,162.0,"['English', 'Español']",Released,237000000,7.2,11800,http://www.avatarmovie.com/
1,Pirates of the Caribbean: At World's End,Pirates of the Caribbean: At World's End,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...","['Adventure', 'Fantasy', 'Action']","['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",Gore Verbinski,"['ocean', 'drug abuse', 'exotic island', 'east...",en,139.082615,...,['United States of America'],2007-05-19,961000000,169.0,['English'],Released,300000000,6.9,4500,http://disney.go.com/disneypictures/pirates/
2,Spectre,Spectre,A Plan No One Escapes,A cryptic message from Bond’s past sends him o...,"['Action', 'Adventure', 'Crime']","['Daniel Craig', 'Christoph Waltz', 'Léa Seydo...",Sam Mendes,"['spy', 'based on novel', 'secret agent', 'seq...",en,107.376788,...,"['United Kingdom', 'United States of America']",2015-10-26,880674609,148.0,"['Français', 'English', 'Español', 'Italiano',...",Released,245000000,6.3,4466,http://www.sonypictures.com/movies/spectre/
3,The Dark Knight Rises,The Dark Knight Rises,The Legend Ends,Following the death of District Attorney Harve...,"['Action', 'Crime', 'Drama', 'Thriller']","['Christian Bale', 'Michael Caine', 'Gary Oldm...",Christopher Nolan,"['dc comics', 'crime fighter', 'terrorist', 's...",en,112.312950,...,['United States of America'],2012-07-16,1084939099,165.0,['English'],Released,250000000,7.6,9106,http://www.thedarkknightrises.com/
4,John Carter,John Carter,"Lost in our world, found in another.","John Carter is a war-weary, former military ca...","['Action', 'Adventure', 'Science Fiction']","['Taylor Kitsch', 'Lynn Collins', 'Samantha Mo...",Andrew Stanton,"['based on novel', 'mars', 'medallion', 'space...",en,43.926995,...,['United States of America'],2012-03-07,284139100,132.0,['English'],Released,260000000,6.1,2124,http://movies.disney.com/john-carter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Domino,Domino,Heads You Live... Tails You Die.,"The daughter of actor, Laurence Harvey turns a...","['Action', 'Crime']","['Keira Knightley', 'Mickey Rourke', 'Edgar Ra...",Tony Scott,"['bounty hunter', 'fbi', 'weapon', 'spectacle']",en,18.394571,...,"['France', 'United Kingdom', 'United States of...",2005-09-22,22944502,127.0,"['English', 'Polski']",Released,50000000,6.0,444,NaN
996,Jade,Jade,Some fantasies go too far.,Someone does a nasty hatchet job on a San Fran...,"['Action', 'Thriller', 'Mystery', 'Romance']","['David Caruso', 'Linda Fiorentino', 'Chazz Pa...",William Friedkin,"['callgirl', 'san francisco', 'investigation',...",en,8.189406,...,['United States of America'],1995-10-13,9851610,95.0,['English'],Released,50000000,5.2,44,NaN
997,Gamer,Gamer,"In the near future, you don't live to play... ...",Mind-control technology has taken society by a...,"['Action', 'Thriller', 'Science Fiction']","['Gerard Butler', 'Michael C. Hall', 'Logan Le...",Brian Taylor,"['dystopia', 'mind control', 'gun battle', 'wr...",en,27.631262,...,['United States of America'],2009-09-03,40828540,95.0,['English'],Released,50000000,5.6,760,http://gamerthemovie.com
998,Beautiful Creatures,Beautiful Creatures,Dark secrets will come to light.,Ethan Wate just wants to get to know Lena Duch...,"['Fantasy', 'Drama', 'Romance']","['Alden Ehrenreich', 'Alice Englert', 'Jeremy ...",Richard LaGravenese,"['civil war', 'southern usa', 'magic', 'light'...",en,40.721373,...,['United States of America'],2013-02-13,60052138,124.0,['English'],Released,60000000,5.6,984,NaN
999,Death to Smoochy,Death to Smoochy,Get ready for an unexpected hit.,"Tells the story of Rainbow Randolph, the corru...","['Comedy', 'Crime', 'Drama', 'Thriller']","['Robin Williams', 'Catherine Keener', 'Edward...",Danny DeVito,"['corruption', 'moderator', 'tv show', 'succes...",en,11.329727,...,"['Germany', 'United Kingdom', 'United States o...",2002-03-28,0,109.0,['English'],Released,55000000,5.9,132,NaN

In [ ]:
movies.describe()

,popularity,revenue,runtime,budget,vote_average,vote_count
count,4809.000000,4.809000e+03,4807.000000,4.809000e+03,4809.000000,4809.000000
mean,21.491664,8.227511e+07,106.882255,2.902780e+07,6.092514,690.331670
std,31.803366,1.628379e+08,22.602535,4.070473e+07,1.193989,1234.187111
min,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000
25%,4.667230,0.000000e+00,94.000000,7.800000e+05,5.600000,54.000000
50%,12.921594,1.917000e+07,103.000000,1.500000e+07,6.200000,235.000000
75%,28.350529,9.291317e+07,118.000000,4.000000e+07,6.800000,737.000000
max,875.581305,2.787965e+09,338.000000,3.800000e+08,10.000000,13752.000000

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 4809 non-null   object
 1   original_title        4809 non-null   object
 2   tagline               3965 non-null   object
 3   overview              4806 non-null   object
 4   genres                4809 non-null   object
 5   cast                  4809 non-null   object
 6   director              4779 non-null   object
 7   keywords              4809 non-null   object
 8   original_language     4809 non-null   object
 9   popularity            4809 non-null   float64
 10  production_companies  4809 non-null   object
 11  production_countries  4809 non-null   object
 12  release_date          4808 non-null   object
 13  revenue               4809 non-null   int64
 14  runtime               4807 non-null   float64
 15  spoken_languages      4809 non-null   object
 16  status                4809 non-null   object
 17  budget                4809 non-null   int64
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  homepage              1713 non-null   object
dtypes: float64(3), int64(3), object(15)
memory usage: 789.1+ KB

# Dropping not required columns

In [ ]:
required_columns =['title','original_title', 'tagline', 'keywords', 'overview', 'genres', 'cast', 'director']
movies = movies[required_columns]

In [ ]:
movies.isna().sum()

title               0
original_title      0
tagline           844
keywords            0
overview            3
genres              0
cast                0
director           30
dtype: int64

In [ ]:
#replacing the missing values with single space character
movies.fillna(' ', inplace=True)
movies.isna().sum()

title             0
original_title    0
tagline           0
keywords          0
overview          0
genres            0
cast              0
director          0
dtype: int64

In [ ]:
#The iloc method is used to select rows and columns by integer position.
movies.iloc[1]

title                      Pirates of the Caribbean: At World's End
original_title             Pirates of the Caribbean: At World's End
tagline              At the end of the world, the adventure begins.
keywords          ['ocean', 'drug abuse', 'exotic island', 'east...
overview          Captain Barbossa, long believed to be dead, ha...
genres                           ['Adventure', 'Fantasy', 'Action']
cast              ['Johnny Depp', 'Orlando Bloom', 'Keira Knight...
director                                             Gore Verbinski
Name: 1, dtype: object

# Create movie CONTENT

In [ ]:
#these lines of code are removing spaces from the values of specific columns in the 'movies' dataframe,
#making the data consistent and easier to work with during later stages of the program.
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['director'] = movies['director'].apply(lambda x: x.replace(" ","") )

## Converting List to Strings

In [ ]:
# genres, keywords, cast which are list of strings are converted into comma separated strings

movies['genres'] = movies['genres'].apply(lambda x: ','.join(map(str, x)))
movies['keywords'] = movies['keywords'].apply(lambda x: ','.join(map(str, x)))
movies['cast'] = movies['cast'].apply(lambda x: ','.join(map(str, x)))

In [ ]:
movies['content'] = movies['title'] + ' ' + movies['overview'] + ' ' + movies['keywords'] + ' ' + movies['cast'] + ' ' + movies ['director']
movies['content']

0       Avatar In the 22nd century, a paraplegic Marin...
1       Pirates of the Caribbean: At World's End Capta...
2       Spectre A cryptic message from Bond’s past sen...
3       The Dark Knight Rises Following the death of D...
4       John Carter John Carter is a war-weary, former...
                              ...
4804    El Mariachi El Mariachi just wants to play his...
4805    Newlyweds A newlywed couple's honeymoon is upe...
4806    Signed, Sealed, Delivered "Signed, Sealed, Del...
4807    Shanghai Calling When ambitious New York attor...
4808    My Date with Drew Ever since the second grade ...
Name: content, Length: 4809, dtype: object

# Natural Language Processing

In [ ]:
# TF-IDF Vectorizer is a method used to transform text documents into a numerical format
# TF-IDF stands for "Term Frequency-Inverse Document Frequency"

from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=1000)
movie_vectors = vectorizer.fit_transform(movies['content'].values)

# Cosine Similarity
The cosine similarity is a metric that measures the similarity between two vectors in a high-dimensional space. In the context of this code, it measures the similarity between pairs of movie feature vectors based on the words they contain and how often those words appear in each movie's plot summary, cast, director, and keywords. Cosine similarity ranges from -1 to 1, with values closer to 1 indicating that the movies are more similar and values closer to -1 indicating that the movies are less similar. The resulting similarity matrix can be used to recommend similar movies to users based on their viewing history or to cluster similar movies together for further analysis.

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(movie_vectors)

In [ ]:
similarity_df = pd.DataFrame(similarity)
similarity_df

,0,1,2,3,4,5,6,7,8,9,...,4799,4800,4801,4802,4803,4804,4805,4806,4807,4808
0,1.000000,0.120720,0.054727,0.181850,0.157633,0.169431,0.085322,0.119674,0.038074,0.041976,...,0.058914,0.054707,0.115616,0.085792,0.100569,0.086665,0.050144,0.106024,0.062859,0.047848
1,0.120720,1.000000,0.099872,0.124117,0.216898,0.046506,0.091782,0.235887,0.078293,0.137685,...,0.053258,0.116830,0.112313,0.166890,0.213747,0.102234,0.085246,0.151463,0.137537,0.065207
2,0.054727,0.099872,1.000000,0.073028,0.045837,0.046143,0.034967,0.101910,0.048610,0.047152,...,0.062993,0.013283,0.033992,0.043828,0.104362,0.079478,0.026120,0.088255,0.041129,0.043192
3,0.181850,0.124117,0.073028,1.000000,0.126776,0.082809,0.146062,0.160151,0.103276,0.093932,...,0.026014,0.058746,0.084078,0.108530,0.109721,0.128345,0.082814,0.141403,0.088217,0.128880
4,0.157633,0.216898,0.045837,0.126776,1.000000,0.080019,0.157128,0.254060,0.063199,0.131756,...,0.082457,0.087538,0.105537,0.097895,0.201148,0.151762,0.058291,0.127700,0.119581,0.084958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,0.086665,0.102234,0.079478,0.128345,0.151762,0.060347,0.093782,0.199868,0.098748,0.071068,...,0.053671,0.084961,0.114460,0.066319,0.230197,1.000000,0.020742,0.072689,0.149257,0.105118
4805,0.050144,0.085246,0.026120,0.082814,0.058291,0.053500,0.060803,0.066664,0.016161,0.031257,...,0.008118,0.019514,0.051268,0.088724,0.054618,0.020742,1.000000,0.097607,0.065763,0.034715
4806,0.106024,0.151463,0.088255,0.141403,0.127700,0.128241,0.147168,0.124013,0.081597,0.090569,...,0.082691,0.070278,0.118665,0.130066,0.092227,0.072689,0.097607,1.000000,0.129344,0.064583
4807,0.062859,0.137537,0.041129,0.088217,0.119581,0.070877,0.122555,0.107464,0.097023,0.069589,...,0.026976,0.097445,0.091604,0.112067,0.144768,0.149257,0.065763,0.129344,1.000000,0.149881
4808,0.047848,0.065207,0.043192,0.128880,0.084958,0.054001,0.133388,0.082953,0.072619,0.089735,...,0.028420,0.034149,0.180663,0.066436,0.138141,0.105118,0.034715,0.064583,0.149881,1.000000

# Recommending Movies

In [ ]:
def recommend(movie):
    # find movie index from dataset
    movies_index = movies[movies['title'] == movie].index[0]
    
    # finding cosine similarities of movie
    distances = similarity[movies_index]
    
    # sorting cosine similarities
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(movies.iloc[i[0]].title)

In [ ]:
movies.title.head(10)

0                                      Avatar
1    Pirates of the Caribbean: At World's End
2                                     Spectre
3                       The Dark Knight Rises
4                                 John Carter
5                                Spider-Man 3
6                                     Tangled
7                     Avengers: Age of Ultron
8      Harry Potter and the Half-Blood Prince
9          Batman v Superman: Dawn of Justice
Name: title, dtype: object

In [ ]:
recommend('Harry Potter and the Half-Blood Prince')

Harry Potter and the Goblet of Fire
Harry Potter and the Order of the Phoenix
Harry Potter and the Philosopher's Stone
Da Sweet Blood of Jesus
Harry Potter and the Chamber of Secrets

In [ ]:
recommend('Avatar')

Beowulf
Aliens vs Predator: Requiem
E.T. the Extra-Terrestrial
Tears of the Sun
The Queen

In [ ]:
recommend('Cars 2')

The Brown Bunny
Hidalgo
Driven
Getaway
The Fast and the Furious: Tokyo Drift

In [ ]:
recommend('Cars')

Marmaduke
The Fog
It's a Mad, Mad, Mad, Mad World
Blazing Saddles
Jindabyne

In [ ]:
recommend('Deck the Halls')

House of Sand and Fog
Highlander: Endgame
Lost in Space
Silent Running
Sanctuary: Quite a Conundrum